@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-table-header: var(--background-table-header);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-inter: var(--font-inter);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    --radius: 0.625rem;

    --background: #ffffff;
    --foreground: #0a0a0a;
    --background-table-header: #f6f6f6;

    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: #4f44e0;
    --primary-foreground: #fafafa;

    --secondary: #f5f5f5;
    --secondary-foreground: #171717;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #f5f5f5;
    --accent-foreground: #171717;

    --destructive: #ef4444;

    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a3a3a3;

    --chart-1: #f97316;
    --chart-2: #06b6d4;
    --chart-3: #1e40af;
    --chart-4: #facc15;
    --chart-5: #fb923c;

    --sidebar: #fafafa;
    --sidebar-foreground: #0a0a0a;

    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fafafa;

    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #171717;

    --sidebar-border: #e5e5e5;
    --sidebar-ring: #a3a3a3;
}

* {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
        sans-serif;
}

.dark {
    --background: #191919;
    --foreground: #fafafa;
    --background-table-header: #28292c;

    --card: #171717;
    --card-foreground: #fafafa;

    --popover: #171717;
    --popover-foreground: #fafafa;

    --primary: #7b80ff;
    --primary-foreground: #fafafa;

    --secondary: #262626;
    --secondary-foreground: #fafafa;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --accent: #262626;
    --accent-foreground: #fafafa;

    --destructive: #dc2626;

    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.15);
    --ring: #737373;

    --chart-1: #7c3aed;
    --chart-2: #22c55e;
    --chart-3: #fb923c;
    --chart-4: #ec4899;
    --chart-5: #ef4444;

    --sidebar: #171717;
    --sidebar-foreground: #fafafa;

    --sidebar-primary: #7c3aed;
    --sidebar-primary-foreground: #fafafa;

    --sidebar-accent: #262626;
    --sidebar-accent-foreground: #fafafa;

    --sidebar-border: rgba(255, 255, 255, 0.1);
    --sidebar-ring: #737373;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .no-number-spin {
        -moz-appearance: textfield;
    }

    .no-number-spin::-webkit-inner-spin-button,
    .no-number-spin::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
